h1 {
  text-align: center;
}

h2.intro {
  text-align: center;
  font-weight: bold;
  color: #0000ff;
}

p.intro {
  font-style: italic;
  font-weight: lighter;
  text-align: justify;
}

img.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.test {
  font: italic bold 25px arial;
}
